<ion-view title="{{currentUser}}">
    <ion-content padding="true">
    <div class="card">
        <div class="item item-divider">
            Day Chart
        </div>
        <div class="item">
            <div
                    data-ac-chart="'bar'"
                    data-ac-data="data"
                    data-ac-config="config"
                    class="chart">
            </div>
        </div>
        <div class="item item-divider">
            <a ui-sref="tab.chart.month">Month</a>
        </div>
    </div>
</ion-content>
</ion-view>