<ion-view title="About Ionic">
    <ion-content padding="true">
        <form ng-submit="login()">
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="email" ng-model="creds.email">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="pass" ng-model="creds.password">
                </label>
            </div>
            <input type="submit" id="submit" value="Login" />
        </form>
    </ion-content>
</ion-view>