<!--
  This template loads for the 'tab.adopt' state (app.js)
-->
<ion-view title="New Entry">
  <ion-content has-tabs="false">

      <h3>Salt</h3>
      <div class="range">
          <i class="icon ion-ios7-minus-outline"></i>
          <input type="range" name="volume" min="0" max="{{entry.saltmax}}" value="{{entry.salt}}">
          <i class="ion-ios7-plus-outline"></i>
      </div>

      <h3>Carbs</h3>
      <div class="range">
          <i class="icon ion-ios7-minus-outline"></i>
          <input type="range" name="volume" min="0" max="{{entry.carbsmax}}" value="{{entry.carbs}}">
          <i class="ion-ios7-plus-outline"></i>
      </div>

      <h3>Suga</h3>
      <div class="range">
          <i class="icon ion-ios7-minus-outline"></i>
          <input type="range" name="volume" min="0" max="{{entry.sugarmax}}" value="{{entry.sugar}}">
          <i class="ion-ios7-plus-outline"></i>
      </div>
      <h3>Calories</h3>
      <div class="range">
          <i class="icon ion-ios7-minus-outline"></i>
          <input type="range" name="volume" min="0" max="{{entry.caloriemax}}" value="{{entry.calories}}">
          <i class="ion-ios7-plus-outline"></i>
      </div>

  </ion-content>
</ion-view>
